form{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;

}
input{
    width: 100%;
    padding:8px;
    margin: 10px 0 20px;
    border: 1 px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button{
    padding: 10px 15px;
    background-color: #af4c95;
}
button:hover{
    background-color: #45a049;
}
button[type="button"]:hover{
    background-color: #e53935;
}


