.one{
    width: 100%;
    padding:8px;
    margin: 10px 0 20px;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(20, 23, 19);
}
#updatebutton{
    background-color: rgb(165, 128, 42);
    color: rgb(0, 255, 102);
}